.carousel-title {
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -0.798px;
    text-align: center;
    color: var(--text-main-color);
    margin: 45px;

}


.flex {
    display: flex;

}

.carousel-slide-img {
    width: 100%;
}
.carousel-slide-text{
    width: 100px;

}
.carousel-text-ifno {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 25.5px;
    color: var(--text-about-paragraph);
    margin-top: 28px;
    margin-bottom: 1px;
}

.carousel-text-ifno {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

/*.carousel__btn-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
.carousel__btn-next{
    cursor: pointer;
    position:absolute;
    top: 50%;
    width: auto;
    margin-top: 22px;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }*/